.field {
  margin-bottom: $spacing-2;
}

.label {
  color: $gray-coal;
  font-weight: $font-bold;
  margin-bottom: $spacing;
  display: block;
}

.label--lg {
  font-size: $font-size-lg;
}

// @include input-placeholder {
// color: peru;
// }

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin form-text(
  $color: $gray-coal,
  $color-bg: $white,
  $color-border: $color-input-border,
  $color-placeholder: $color-input-placeholder
) {
  color: $color;
  background-color: $color-bg;
  border: 1px solid $color-border;
  border-radius: $border-radius-xl;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $line-height;
  padding: $btn-padding-v ($spacing * 1.5);
  display: block;
  width: 100%;
  transition: $transition-linear;

  @include input-placeholder {
    color: $color-placeholder;
  }
}

.form-text {
  @include form-text;
}

.form-text--select {
  background-image: url("../../assets/svg/icons/icon-chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right $spacing center;
  background-size: px-to-rem(18);
}

textarea {
  min-height: px-to-rem(110);
  resize: vertical;
}

@mixin input-group(
  $color: $color-font,
  $color-bg: $white,
  $color-border: $color-input-border
) {
  color: $color;
  background-color: $color-bg;
  border: px-to-rem(1) solid $color-border;
  border-radius: $border-radius-xl;
  display: flex;
}

.input-group {
  @include input-group;
}

.input-group-text {
  @include input-group($color-bg: transparent);
  border: none;
}

.input-group-label {
  color: $gray-cement;
  font-weight: $font-bold;
  text-transform: uppercase;
  padding: 0 ($spacing * 1.5) 0 0;
  align-self: center;
}

@mixin form-text--sm {
  font-size: $font-size-sm;
  padding: $btn-padding-v-sm $spacing;
}

.form-text--sm {
  @include form-text--sm;
}

.input-file {
  opacity: 0;
  position: absolute;
}

.input-file-label {
  font-size: $font-size-lg;
  text-transform: capitalize;
  padding-left: ($spacing * 6);
  padding-right: ($spacing * 6);
  position: relative;
}

.input-file-img {
  border-radius: 50%;
  width: px-to-rem(46);
  height: px-to-rem(46);
  display: block;
  position: absolute;
  left: px-to-rem(-2);
  top: px-to-rem(-1);
  object-fit: cover;
}
