@use "sass:math";
@mixin container($max-width: $media-lg, $grid-gutter: $grid-gutter) {
    @if $max-width {
        max-width: $max-width;
    }
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
}

.container-lg {
    @include container;
}

.container-mid {
    @include container($media-mid);
}

.container-sm {
    @include container($media-sm);
}

.container-full {
    @include container($max-width: false);
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.clearfix {
    @include clearfix;
}

@mixin row($grid-gutter: $grid-gutter) {
    margin-left: -$grid-gutter;
    margin-right: -$grid-gutter;
    @include clearfix;
}

.row {
    @include row;
}

.row-sm {
    @include row($grid-gutter-sm);   
}

.row-lg {
    @include row($grid-gutter-lg);
}

@mixin col($grid-gutter: $grid-gutter) {
    @if $grid-gutter {
        padding-left: $grid-gutter;
        padding-right: $grid-gutter;        
    }    
}

.col {
    @include col;
}

.col-sm {
    @include col($grid-gutter: $grid-gutter-sm);
}

.col-lg {
    @include col($grid-gutter: $grid-gutter-lg);
}

@for $i from 1 through $grid-column-count {
    .col-#{$i} {
        width: percentage(math.div($i, $grid-column-count));
    }
}

@media (min-width: $media-sm) {
    @for $i from 1 through $grid-column-count {
        .col-#{$i}-sm {
            width: percentage(math.div($i, $grid-column-count));
        }
    }
}

@media (min-width: $media-mid) {
    @for $i from 1 through $grid-column-count {
        .col-#{$i}-mid {
            width: percentage(math.div($i, $grid-column-count));
        }
    }
}

@media (min-width: $media-lg) {
    @for $i from 1 through $grid-column-count {
        .col-#{$i}-lg {
            width: percentage(math.div($i, $grid-column-count));
        }
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}
