$line-height: 1.5;

$font-size: 0.825rem;
$font-size-sm: 0.75rem;
$font-size-xs: 0.625rem;
$font-size-lg: 1rem;

$font-family: 'Nunito Sans', sans-serif;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;