$line-height: 1.5;

$font-size: 0.825rem;
$font-size-sm: 0.75rem;
$font-size-xs: 0.625rem;
$font-size-lg: 1rem;

$h1: px-to-rem(24);
$h2: px-to-rem(22);
$h3: px-to-rem(20);
$h4: px-to-rem(18);
$h5: px-to-rem(16);
$h6: px-to-rem(14);


$font-family: 'Nunito Sans', sans-serif;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;

$font-family-icon: "icomoon";
$icon-spacing: px-to-rem(5);
$icon-spacing-lg: ($icon-spacing * 2);

$icon-size-lg: px-to-rem(16);
$icon-size-xl: px-to-rem(18);
$icon-size-xxl: px-to-rem(24);

